.service-img-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-btn {
    padding: 8px;
    margin-left: 5px;
    border-radius: 50%;
    color: white;
}
.service-action:hover button {
    margin-left: 15px;
    transition: all 0.5s;
  }